.form_row {
  @extend %clearfix;
  line-height: 28px;

  .form_row_v1 & {
    margin: 18px 0;

    &.last_row {
      margin: -12px 0 0;
    }
  }
}

.form_cell {

  &.middle_mod {
    display: inline-block;
    vertical-align: top;

    .form_el {
      display: inline-block;
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &.form_cell_group {
    @extend %clearfix;

    .form_el {
      float: left;
    }
  }

}

.form_el {

  &.f_el_w55 {
    width: 55px;
  }

  &.f_el_w100 {
    width: 100px;
  }

  &.f_el_w125 {
    width: 125px;
  }

  &.f_el_w153 {
    width: 153px;
  }

  &.f_el_w200 {
    width: 200px;
  }

  &.f_el_w230 {
    width: 230px;
  }

  &.f_el_w270 {
    width: 270px;
  }
}

.select_box {
  position: relative;
  text-align: left;
}

.select_drop_down {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;

  .opened & {
    display: block;
    z-index: 2;
  }

  .select_box_v1 & {
    min-width: 100%;
    background: #c9ced6;
    border-radius: 0 0 3px 3px;
  }

  .select_box_v2 & {
    min-width: 100%;
    background: #c9ced6;
    border-radius: 0 0 3px 3px;
  }
}

.select_val {
  position: relative;

  .select_box_v1 & {
    @extend .icon_before;
    @extend .icon_chevron-down;
    border-radius: 3px;
    padding: 0 22px;
    height: 30px;
    background: #c9ced6;
    color: #000;
    font-weight: 300;

    &:before {
      position: absolute;
      right: 14px;
      top: 50%;
      margin-top: -10px;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
      color: #838383;
    }

    &:hover {

      &:before {
        color: #1b1b1b;
      }
    }
  }

  .opened.select_box_v1 & {
    @extend .icon_chevron-up;
    border-radius: 3px 3px 0 0;
    color: #818181;

    &:before {
      color: #818181;
    }
  }

  .disabled.select_box_v1 & {
    @extend %no_text_selection;
    background: #d9dce1;
    color: #adaeb1;
    cursor: not-allowed;
    pointer-events: none;

    &:before {
      color: #adaeb1;
    }
  }

  .select_box_v2 & {
    @extend .icon_before;
    @extend .icon_chevron-down;
    border-radius: 0 3px 3px 0;
    padding: 0 22px;
    height: 28px;
    background: #c9ced6;
    color: #000;
    font-weight: 300;
    text-align: center;

    &:before {
      position: absolute;
      right: 14px;
      top: 50%;
      margin-top: -10px;
      height: 20px;
      line-height: 20px;
      font-size: 10px;
      color: #838383;
    }

    .currency_sum {
      display: none;
    }

    &:hover {

      &:before {
        color: #1b1b1b;
      }
    }
  }

  .opened.select_box_v2 & {
    @extend .icon_chevron-up;
    border-radius: 0 3px 0 0;
    color: #818181;
    text-align: left;

    &:before {
      color: #818181;
    }
  }

  .disabled.select_box_v2 & {
    @extend %no_text_selection;
    background: #d9dce1;
    color: #adaeb1;
    cursor: not-allowed;
    pointer-events: none;

    &:before {
      color: #adaeb1;
    }
  }

}

.select_item {
  cursor: pointer;

  .select_box_v1 & {
    padding: 0 22px;
    height: 30px;

    &:hover {
      background: #2a89ef;
      color: #fff;
    }
  }

  .select_box_v2 & {
    @extend %clearfix;
    padding: 0 22px;
    height: 30px;

    .currency_sum {
      float: left;
      width: 39.5%;
      text-align: right;
      padding-right: 2px;
    }

    .currency_label {
      float: left;
    }

    &:hover {
      background: #2a89ef;
      color: #fff;
    }
  }
}

.currency_label {
  padding-left: 8px;
}

.f_input {
  width: 100%;
  display: block;

  &.input_v1 {
    @include transition_all(border-color .3s);
    height: 28px;
    border: 1px solid #d0d5db;
    border-radius: 3px;
    line-height: 16px;
    padding: 5px 12px;

    &:focus {
      border-color: #2b8af1;
    }
  }

  &.input_v2 {
    @include transition_all(border-color .3s);
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px 0 0 3px;
    line-height: 16px;
    padding: 5px 12px;
    background: #fff;

    &:focus {
      //border-color: #2b8af1;
    }
  }
}

.form_caption {
  color: #3f444b;
  font-size: 17px;
  padding-bottom: 6px;
}

.form_currency {
  padding-left: 14px;
  white-space: nowrap;
}

.form_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 12px 15px;
}

.hidden_inp {
  display: none;
  position: absolute;
}

.check_emul {
  display: inline-block;
  vertical-align: middle;

  &.check_v1 {
    .check_text {
      @extend .icon_before;
      position: relative;
      display: block;
      padding-left: 26px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 15px;
        height: 15px;
        top: 50%;
        margin-top: -8px;
        font-size: 11px;
        line-height: 13px;
        color: #fff;
        text-align: center;
        border: 1px solid #2b8af1;
        border-radius: 2px;
      }
    }

    .hidden_inp:checked ~ .check_text {
      &:before {
        content: $icon_checkmark;
        background: #2b8af1;
      }
    }
  }
}