//*************************** header

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 81px;
  background: #395784;

  .section_inner {
    position: relative;
    padding: 0 205px 0 160px;
  }
}

.logo_block {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  position: relative;
  float: left;

  img {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 4px;
  }
}

// *********  menu

.user_menu {
  position: absolute;
  top: 0;
  right: 0;
}

.user_m_item {
  float: left;
  padding-left: 30px;

  &:first-child {
    padding-left: 0;
  }
}

.user_m_link {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 1;
  color: #fefdf4;
}

a.user_m_link {
  cursor: pointer;
  text-decoration: none;
}

.menu_drop_icon {
  font-size: 10px;
  line-height: 17px;
  padding-left: 5px;
}

.question_icon {
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid rgba(254, 253, 244, .5);
}

.user_avatar {
  border-radius: 100%;
  border: 1px solid rgba(254, 253, 244, .5);
  width: 27px;
  height: 27px;
  position: relative;

  > span {
    position: absolute;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(254, 253, 244, .5);
  }
}

.main_menu {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.menu_item {
  display: table-cell;
  vertical-align: middle;
  padding: 0 3px;
  text-align: center;
}

.menu_link {
  position: relative;
  display: inline-block;
  color: #fefdf4;
  text-decoration: none;

  .link_text {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
    line-height: 18px;
  }
}

a.menu_link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;

  &:hover {
    color: #c9ced6;
  }

  .active & {
    color: #fefdf4;
    font-weight: 500;
    cursor: default;
  }
}

.account_estate {
  font-size: 13px;
  padding-right: 25px;
  position: relative;
  @extend .icon_before;
  @extend .icon_chevron-down;

  &:before {
    position: absolute;
    top: 50%;
    right: 5px;
    height: 20px;
    line-height: 20px;
    margin-top: -12px;
    font-size: 10px;
  }

}

.account_val {

}

.drop_down_holder {
  position: relative;

  &:hover {
    .drop_down_wrapper {
      display: block;
    }
  }
}

.drop_down_wrapper {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 18px;
  z-index: 3;

  &:before {
    content: '';
    position: absolute;
    top: 7px;
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #c9ced6;
  }

  &.drop_down_right {
    right: 0;

    &:before {
      right: 17px;
    }
  }

  &.drop_down_center {
    right: -150px;
    left: -160px;
    text-align: center;

    &:before {
      right: 50%;
      margin-right: -11px;
    }

    .personal_menu {
      display: inline-block;
      vertical-align: top;
    }
  }

  &.drop_down_white {
    padding-top: 11px;
    
    &:before {
      top: 1px;
      border-bottom-color: #fff;
    }
  }
}

.personal_menu {
  background: #c9ced6;
  border-radius: 5px;
  padding: 2px 0;
  overflow: hidden;
}

.personal_m_item {
  display: block;
}

.personal_m_link {
  display: block;
  position: relative;
  color: #1a1a1a;
  font-size: 13px;
  line-height: 30px;
  padding: 0 12px;
  text-decoration: none;
  cursor: pointer;

  &:before {
    @include transition_all(color .3s, background .3s);
    content: '';
    position: absolute;
    top: 0;
    background: #e9eaed;
    height: 1px;
    right: 7px;
    left: 7px;
  }

  &:after {
    @include transition_all(color .3s, background .3s);
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    height: 1px;
  }

  &:hover {
    z-index: 1;
    color: #fff;
    background: #2a89ef;

    &:after,
    &:before {
      background: #2a89ef;
    }

    .personal_m_icon {
      color: #fff;
    }
  }

  .personal_m_item:first-child & {
    &:before {
      display: none;
    }
  }

  .wide_menu & {
    min-width: 165px;
    padding-right: 32px;
  }
}

.personal_m_text {

}

.personal_m_icon {
  @include transition_all(color .3s, background .3s);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  width: 26px;
  color: #818181;

  &:before {
    position: absolute;
    font-size: 24px;
    line-height: 30px;
  }

  &:after {

  }
}

.personal_m_counter {
  position: absolute;
  top: 3px;
  right: 7px;
  border-radius: 7px;
  height: 14px;
  min-width: 14px;
  text-align: center;
  background: #ee3054;
  color: #fff;
  font-size: 9px;
  line-height: 14px;
}

.export_icon {
  &:after {
    content: $icon_arrow-right;
    position: absolute;
    top: 3px;
    right: 2px;
    font-size: 12px;
    line-height: 1;
  }
}

.log_out_icon {
  @extend .icon_before;

  &:after {
    content: $icon_arrow-right-long;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    font-size: 16px;
    line-height: 30px;
  }
}

.icon_refresh_currency {
  position: absolute;
  width: 24px;
  height: 26px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.adv_trading {
  position: fixed;
  right: 0;
  top: 295px;
  padding: 67px 10px 13px 7px;
  border-radius: 3px 0 0 3px;
  background: #2b8af1;
  color: #fff;
  text-decoration: none;
}

.adv_trading_icon {
  @extend .icon_before;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: $icon_trending_up;
    font-size: 30px;
  }

  &:after {
    left: 8px;
    top: 10px;
    position: absolute;
    content: $icon_coins;
    font-size: 35px;
  }

}