//************  buttons

.gl_link {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.action_link {
    @extend .icon_before;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-decoration: none;

    &:before {
      content: $icon_cancel;
      font-size: 10px;
    }
  }
}

.btn_v1 {
  height: 36px;

  &.city_btn {
    cursor: pointer;
    border-radius: 4px;
    padding: 11px 20px;
  }

  &.order_btn {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 20px;
    line-height: 20px;
    text-align: center;
  }

  &.exchange_btn {
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -.5px;
  }

}

.btn_v2 {
  height: 28px;

  &.adv_trade_btn {
    @extend .icon_before;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px 20px 4px 10px;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
    letter-spacing: -.5px;
    margin-top: -3px;
    text-decoration: none;

    &:before {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      height: 22px;
      margin-right: 9px;
      content: $icon_trade_candels;
    }

  }

}

.green_btn {
  color: #fff;
}

.blue_btn {
  @include transition_all(background .3s, color .3s);
  color: #fff;
  background: #2b8af1;

  &:hover {
    background: #569eeb;
  }

  &:active {
    background: #395784;
  }

  &[disabled='disabled'] {
    background: #c9ced6;
    cursor: default;
  }
}

