@font-face {
  font-family: 'exmo_icons';
  src: url(../exmo_icons/fonts/exmo_icons.eot);
  src: url(../exmo_icons/fonts/exmo_icons.eot?#iefix) format("embedded-opentype"),
  url(../exmo_icons/fonts/exmo_icons.woff) format("woff"),
  url(../exmo_icons/fonts/exmo_icons.ttf) format("truetype"),
  url(../exmo_icons/fonts/exmo_icons.svg) format("svg");
  font-weight: normal;
  font-style: normal;
}
