html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 'Roboto', sans-serif;
  color: $default_t_color;
  background: #e9eaed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

a {
  @include transition_all(color .3s, background .3s, border .3s);
}

label {
  @extend %no_text_selection;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1000px;
  padding: 83px 0 0;
}

.base {
  padding-bottom: 330px;
}

.section_inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.mb {
  display: inline-block;
  vertical-align: middle;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// ********** content

.main_content {
  padding-top: 35px;
}

.account_value_tabs {
  padding: 30px 0;
}

.tab_switcher {
  .chart_controls & {
    margin-top: -10px;
  }
}

.tab_item {
  @include transition_all(color .3s, border-color .3s);
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding: 5px 18px;
  border-bottom: 2px solid transparent;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    color: #818181;
  }

  &.active {
    cursor: default;
    font-weight: 400;
    color: #1a1a1a;
    border-bottom-color: #2b8af1;
  }

  .account_value_tabs & {
    padding: 5px 24px;
    margin: 0 12px;
  }
}

.account_value_switcher {
  padding: 32px 0 48px;
}

.table_holder {
  border-top: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 100px;

  &.table_holder_v1 {
    padding-top: 30px;
  }

}

.table_settings_block {
  @extend %clearfix;
  margin-bottom: 23px;

  > li {
    float: right;
    padding-left: 20px;
  }
}

.table_settings_item {
  @extend %clearfix;
  @include transition_all(color .3s, background .3s);
  position: relative;
  min-width: 165px;
  padding: 6px 11px;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: -1px;

  &:before {
    @include transition_all(color .3s, background .3s);
    content: '';
    position: absolute;
    top: 0;
    background: #e9eaed;
    height: 1px;
    right: 7px;
    left: 7px;
  }

  &:after {
    //@include transition_all(color .3s, background .3s);
    //content: '';
    //position: absolute;
    //bottom: -1px;
    //right: 0;
    //left: 0;
    //height: 1px;
  }

  &:hover {
    z-index: 1;
    color: #fff;
    background: #2a89ef;

    &:after,
    &:before {
      background: #2a89ef;
    }
  }

  li:first-child > & {
    &:before {
      display: none;
    }
  }
}

.settings_btn {
  margin-right: 18px;
  font-size: 18px;
}

.external_link {
  @extend .icon_before;
  @extend .icon_external-link;
  text-decoration: none;
  font-size: 16px;
  color: #2b8af1;
  margin-left: 9px;
  display: inline-block;
  vertical-align: middle;
}

.pairs_holder {
  min-height: 60px;
  padding-bottom: 3px;
}

.main_charts {
  @extend %clearfix;
  padding-top: 14px;
}

.chart_holder {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;

  &.chart_v1 {
    height: 290px;
  }
}

.chart_w {
  position: relative;
  padding-top: 33px;
}

.row {
  @extend %clearfix;
}

.col {
  float: left;
  width: 100%;
  margin-bottom: 40px;

  &.col_s_600 {
    width: 600px;
  }

  &.col_s_400 {
    width: 400px;
  }

  + .col {
    padding-left: 30px;
  }
}

.chart_controls {
  @extend %clearfix;
  line-height: 23px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  .chart_caption {
    float: left;
  }

  .filter_options {
    float: right;

    li {
      padding-right: 10px;
    }
  }
}

.chart_caption {
  font-size: 13px;
  padding-left: 11px;
  letter-spacing: .2px;
}

.pairs_list {
  @extend %clearfix;
  margin-left: -4px;

  > li {
    float: left;
    padding-left: 4px;
    margin-bottom: 11px;
    width: 1% *100 / 14;
  }
}

.pair_item {
  @include transition_all(opacity .3s);
  position: relative;
  line-height: 15px;
  text-align: center;
  cursor: default;

  .readonly_mode & {
    cursor: pointer;
  }

  .gl_link.action_link {
    position: absolute;
    top: -8px;
    right: -3px;
    color: #ed325b;
    z-index: 1;

    .readonly_mode & {
      display: none;
    }
  }

  &.pair_item_editable {

    .pair_val,
    .pair_name {
      opacity: .5;
    }

    .gl_link.action_link {
      @include transform_rotate(45);
      color: #2b8af1;
    }

    .readonly_mode & {
      display: none;
    }
  }
}

.pair_spiner {
  height: 42px;
  cursor: pointer;
  position: relative;

  span {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    border-radius: 100%;
    background: #c9ced6;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background: #c9ced6;
    }

    &:before {
      right: 100%;
      margin-right: 2px;
    }

    &:after {
      left: 100%;
      margin-left: 2px;
    }
  }
}

.pair_name {
  height: 21px;
  background: #c9ced6;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px 3px 0 0;

  .pair_item:not(.pair_item_editable):hover & {
    color: #818181;
    background: #c9ced6;
  }

  .pair_item:not(.pair_item_editable).active &,
  .pair_item:not(.pair_item_editable):active & {
    color: #fff;
    background: #395784;
  }
}

.pair_val {
  background: #fff;
  font-size: 11px;
  height: 21px;
  padding: 3px;
  border-radius: 0 0 3px 3px;

  .pair_item:not(.pair_item_editable):hover & {
    color: #818181;
  }

  .pair_item.active &,
  .pair_item.pair_item_editable {
    color: $default_t_color;
  }

}

.order_forms {
  background: #fff;
  border-radius: 3px;
  height: 365px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    border-left: 1px solid #e9eaed;
  }
}

.form_col {
  float: left;
  width: 50%;
  padding: 15px 0 50px 16px;
  height: 100%;
  position: relative;
}

.chat_block {
  position: relative;
  height: 100%;
  padding-bottom: 50px;
}

.instant_group {
  @include transition_all(background .3s, border-color .3s);
  padding: 1px 1px 1px 14px;
  margin: -1px 0 27px -16px;
  border-left: 2px solid transparent;

  &.active,
  &:hover {
    border-left-color: #2b8af1;
    background: #e9eaed;
  }
}

.glass_holder {
  @extend %clearfix;
  margin-left: -20px;
}

.glass_unit {
  float: left;
  width: 50%;
  padding-left: 20px;
}

.exchange_tip {
  padding: 12px 5px;
  min-height: 67px;

  p {
    margin-bottom: 5px;
  }
}

.receive_tip {
  padding: 23px 0 5px;
  min-height: 67px;
  margin-left: -3px;

  p {
    margin-bottom: 5px;
  }
}

.best_exchange_w {
  min-height: 82px;
  padding-bottom: 10px;
}

.best_exchange {
  border-radius: 3px;
  text-align: center;
  background: #fafafa;
  padding: 5px 25px 5px 5px;
  line-height: 18px;
  letter-spacing: .5px;

}

// **********  text

.gl_caption {

  &.page_caption {
    margin: 38px 0 65px;
  }
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.fw_300 {
  font-weight: 300;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fz_12 {
  font-size: 12px;
}

.fz_13 {
  font-size: 13px;
}

.fz_14 {
  font-size: 14px;
}

.fz_15 {
  font-size: 15px;
}

.fz_16 {
  font-size: 16px;
}

.fz_18 {
  font-size: 18px;
}

.fz_24 {
  font-size: 24px;
}

.clr_blue {
  color: #2b8af1;
}

.clr_black {
  color: #353940;
}

.clr_black_2 {
  color: #1a1a1a;
}

.clr_red {
  color: #ed325b;
}

.clr_gray {
  color: #818181;
}

.clr_gray_2 {
  color: #3f444b;
}

