html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 'Roboto', sans-serif;
  color: $default_t_color;
  background: #e9eaed;
}

a {
  @include transition_all(color .3s, background .3s, border .3s);
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1000px;
  padding: 83px 0 0;
}

.base {
  padding-bottom: 330px;
}

.section_inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.mb {
  display: inline-block;
  vertical-align: middle;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

// ********** content

.main_content {
  padding-top: 35px;
}

.tab_switcher {
  padding: 30px 0;
}

.tab_item {
  @include transition_all(color .3s, border-color .3s);
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  padding: 5px 24px;
  border-bottom: 2px solid transparent;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 300;

  &:hover {
    color: #818181;
  }

  &.active {
    cursor: default;
    font-weight: 400;
    color: #1a1a1a;
    border-bottom-color: #2b8af1;
  }
}

.account_value_switcher {
  padding: 32px 0 48px;
}

.table_holder {
  border-top: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 100px;
}

.external_link {
  @extend .icon_before;
  @extend .icon_external-link;
  text-decoration: none;
  font-size: 16px;
  color: #2b8af1;
  margin-left: 9px;
  display: inline-block;
  vertical-align: middle;
}

// **********  text

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.fw_300 {
  font-weight: 300;
}

.fw_500 {
  font-weight: 500;
}

.fz_12 {
  font-size: 12px;
}

.fz_14 {
  font-size: 14px;
}

.fz_15 {
  font-size: 15px;
}

.fz_16 {
  font-size: 16px;
}

.clr_blue {
  color: #2b8af1;
}

.clr_red {
  color: #ed325b;
}
