
.gl_table_w {
  overflow: hidden;

  &.buy_sell_options_table_w {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    overflow: visible;
    margin-bottom: 68px;
  }

  &.user_balance_table_w {
    margin-top: -2px;
    min-width: 230px;
  }

  &.wallet_table_w {
  }

  &.sell_orders_table_w {
    border-radius: 2px;
  }

  &.history_table_w {
    border-radius: 2px;
  }

  &.orders_deals_table_w {
    border-radius: 2px;
  }

  &.trade_history_table_w {
    border-radius: 2px;
  }

  &.buy_sell_history_table_w {
    border-radius: 2px;
  }

  &.table_w_v1 {
    padding-bottom: 8px;
  }
}

.gl_table {
  width: 100%;
  border-collapse: collapse;

  &.table_v1 {
    font-size: 12px;

    th {
      text-align: left;
      color: #1a1a1a;
      font-weight: 500;
      background: #c9ced6;
      padding: 8px;
    }

    td {
      font-weight: 300;
      color: #1a1a1a;
      line-height: 17px;
      padding: 4px 8px 3px;
      background: #fff;
      border-bottom: 1px solid #e9eaed;
    }
  }

  &.table_v2 {
    font-size: 13px;

    td {
      font-weight: 300;
      color: #1a1a1a;
    }
  }

  &.buy_sell_options_table {

    td {
      padding-bottom: 10px;
      vertical-align: top;
    }

    .col_1 {
      padding-right: 42px;
      text-align: right;
    }

    .col_2 {
      padding-right: 3px;
    }

  }

  &.orders_deals_table {

    td {
      padding-top: 5px;
    }

    .col_1 {
      width: 110px;
      padding-left: 27px;
    }

    .col_2 {
      width: 95px;
    }

    .col_3 {
      width: 65px;
    }

    .col_4 {
      width: 143px;
    }

    .col_5 {
      width: 153px;
    }

    .col_6 {
      width: 122px;
    }

    .col_7 {
      width: 94px;
    }

    .col_8 {
      width: 55px;
      text-align: center;
    }
  }

  &.buy_sell_history_table {

    td {
      padding-top: 5px;
    }

    .col_1 {
      width: 120px;
      padding-left: 27px;
    }

    .col_2 {
      width: 140px;
    }

    .col_3 {
      width: 175px;
    }

    .col_4 {
      width: 160px;
    }

    .col_5 {
      width: 170px;
    }

    .col_6 {
      width: 150px;
    }
  }

  &.sell_orders_table {

    td {
      padding-top: 5px;
    }
  }

  &.trade_history_table {

    th {
      font-weight: 500;
    }

    td {
      padding-top: 5px;
    }

  }

  &.user_balance_table {
    font-size: 12px;
    text-align: left;

    th {
      background: #fff;
      color: #818181;
      font-weight: 400;
      padding: 5px 2px 3px;

      &.col_1 {

      }

      .col_3 {
      }
    }

    td {
      padding: 1px 2px 0;
      color: #1a1a1a;
      border-bottom: 1px solid #e9eaed;

      &.col_2,
      &.col_3 {
        text-align: right;
      }
    }

    tr {
      &:first-child td {
        padding-top: 4px;
      }

      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    .col_1 {
      padding-left: 10px;
    }

    .col_2 {

    }

    .col_3 {
      padding-right: 10px;
    }

  }

  &.wallet_table {

    th {

      &.col_4 {
        text-align: center;
        padding-right: 125px;
      }
    }

    td {

      &.col_1 {
        font-weight: 500;
      }

      &.col_3 {
        color: #3f444b;
      }

      &.col_4 {
        text-align: right;
        padding-right: 57px;
      }

      &.col_5 {
        padding-left: 27px;
      }
    }

    tr:last-child {
      td {
        padding-bottom: 9px;
      }
    }

    .col_1 {
      padding-left: 27px;
      width: 180px;
    }

    .col_2 {
      width: 157px;
    }

    .col_3 {
      text-align: center;
      width: 150px;
    }

    .col_4 {
      width: 130px;
    }

    .col_5 {
      padding-right: 27px;
      width: 195px;
    }
  }

  &.history_table {
    font-size: 12px;

    th {

    }

    td {

      &.col_1 {

      }

      &.col_3 {
        span {
          padding-left: 18px;
        }
      }

      &.col_4 {

      }

      &.col_5 {
      }
    }

    tr:last-child {
      td {
        padding-bottom: 9px;
      }
    }

    .col_1 {
      padding-left: 27px;
      width: 113px;
    }

    .col_2 {
      width: 113px;
    }

    .col_3 {
      width: 105px;
    }

    .col_4 {
      width: 210px;
    }

    .col_5 {
      padding-right: 27px;
      width: 317px;
    }
  }
}

.t_control_btn {
  @extend .icon_before;
  position: relative;
  color: #2b8af1;
  font-size: 13px;
  text-decoration: none;
  padding-right: 20px;

  &.icon_chevron-down {

    &:before {
      position: absolute;
      right: 2px;
      height: 16px;
      top: 50%;
      margin-top: -8px;
      font-size: 10px;
      line-height: 16px;
      color: inherit;
    }
  }

  &:hover {
    color: #8fbef2;
  }

  .active & {
    color: #395784;
  }
}

.t_t {
  min-width: 100%;
  display: block;
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table_caption_block {
  @extend %clearfix;
  line-height: 30px;
  padding: 17px 0 12px;

  &.table_caption_b_v2 {
    padding: 0 0 10px;
  }

  .table_caption {
    float: left;
  }

  .filter_options {
    float: right;
    padding-top: 5px;
  }
}

.table_caption {
  font-size: 18px;
  line-height: 30px;
  color: #1a1a1a;
  padding-left: 20px;
  font-weight: 400;

  .chart_controls & {
    margin-top: -8px;
  }

}

.filter_options {
  li {
    float: left;
    padding-right: 8px;
  }
}

.t_control_link {
  display: block;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 13px;
  line-height: 1;
  font-weight: 300;
  border-bottom: 2px solid transparent;
  padding: 4px 7px;

  &:hover {
    color: #818181;
  }

  .active & {
    font-weight: 400;
    color: #1a1a1a;
    cursor: default;
    border-bottom-color: #4497f1;
  }
}

.t_pagination_link {
  @extend .icon_before;
  position: relative;
  float: left;
  margin-left: 22px;
  text-decoration: none;
  color: #3f444b;
  font-weight: 500;
  cursor: pointer;

  &:before {
    position: absolute;
    height: 20px;
    margin-top: -10px;
    line-height: 20px;
    top: 50%;
    font-size: 20px;
    color: #2b8af1;
  }

  &:hover {
    color: #515962;
  }

  &.t_pag_prev {
    @extend .icon_chevron-left;
    padding-left: 21px;

    &:before {
      left: -2px;
    }

    &:hover {
      color: #3f444b;

      &:before {
        color: #4896ea;
      }
    }

    &:active {
      color: #3f444b;

      &:before {
        color: #395784;
      }
    }
  }

  &.t_pag_next {
    @extend .icon_chevron-right;
    padding-right: 21px;

    &:before {
      right: -4px;
    }

    &:hover {
      color: #3f444b;

      &:before {
        color: #4896ea;
      }
    }

    &:active {
      color: #3f444b;

      &:before {
        color: #395784;
      }
    }
  }

  &.disabled {
    color: #818181;

    &:before {
      color: #c9ced6;
    }

  }

}