include mixins
doctype html
html(lang='ru')
    +dev_head('exmo buy_sell')

    body
        .wrapper
            .rect_1024
            .base
                +header(1)
                
                div.main_content
                    ul.tab_switcher.text_center
                        li.tab_item.active  Balance
                        li.tab_item  Lending
                        li.tab_item  Investment


            +footer()
