include mixins
doctype html
html(lang='ru')
    +dev_head('exmo wallet')

    body
        .wrapper
            .rect_1024
            .base
                a.adv_trading(href='#')
                    span.adv_trading_icon
                    .fz_14 Advanced
                    .fz_15 TRADING
                +header(1)
                
                div.main_content


            +footer()
