$icomoon-font-path: "fonts" !default;

$icon_bfm: "\42";
$icon_arrow-right: "\e908";
$icon_arrow-left: "\e912";
$icon_arrow-right-long: "\e913";
$icon_arrow-left-long: "\e914";
$icon_trending_up: "\e911";
$icon_verified: "\e90d";
$icon_coins: "\e90e";
$icon_alarm: "\e90b";
$icon_gear: "\e90c";
$icon_cloud: "\e90f";
$icon_mail_closed: "\e909";
$icon_external-link: "\f08e";
$icon_twitter: "\f099";
$icon_refresh: "\e910";
$icon_profile: "\e904";
$icon_user: "\e905";
$icon_facebook: "\e903";
$icon_checkmark: "\e902";
$icon_vk-alternitive: "\e915";
$icon_log-out: "\e90a";
$icon_chevron-down: "\e906";
$icon_chevron-up: "\e907";
$icon_chevron-right: "\e900";
$icon_chevron-left: "\e901";

