@charset "UTF-8";
.main_charts:after, .row:after, .chart_controls:after, .pairs_list:after, .glass_holder:after, .form_row:after, .form_cell.form_cell_group:after, .select_box_v2 .select_item:after, .table_caption_block:after, .footer_info:after {
  position: static;
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

.no_text_selection,
label,
.disabled.select_box_v1 .select_val,
.disabled.select_box_v2 .select_val {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, a, input, label, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
h1:before,
h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
abbr:before,
abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
del:before,
del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
small:before,
small:after, strong:before, strong:after, sub:before, sub:after, sup:before, sup:after, var:before, var:after,
b:before,
b:after, i:before, i:after, a:before, a:after, input:before, input:after, label:before, label:after, textarea:before, textarea:after,
dl:before,
dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
fieldset:before,
fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
article:before,
article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
footer:before,
footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
time:before,
time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

textarea {
  resize: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------------------------form elements*/
input, select {
  vertical-align: middle;
}

textarea {
  resize: none;
  overflow-y: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
}

input:hover, input:focus, input:active,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus, button:active {
  outline: none;
}

input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #ccc;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important;
}

/*-----------------------------form elements###*/
@font-face {
  font-family: 'exmo_icons';
  src: url("../fonts/exmo_icons.eot?4pmyty");
  src: url("../fonts/exmo_icons.eot?4pmyty#iefix") format("embedded-opentype"), url("../fonts/exmo_icons.ttf?4pmyty") format("truetype"), url("../fonts/exmo_icons.woff?4pmyty") format("woff"), url("../fonts/exmo_icons.svg?4pmyty#exmo_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon_"]:after, [class^="icon_"]:before, [class*=" icon_"]:after, [class*=" icon_"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'exmo_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_bfm:before {
  content: "B";
}

.icon_arrow-right:before {
  content: "";
}

.icon_arrow-left:before {
  content: "";
}

.icon_arrow-right-long:before {
  content: "";
}

.icon_arrow-left-long:before {
  content: "";
}

.icon_close:before {
  content: "";
}

.icon_trending_up:before {
  content: "";
}

.icon_verified:before {
  content: "";
}

.icon_coins:before {
  content: "";
}

.icon_alarm:before {
  content: "";
}

.icon_gear:before {
  content: "";
}

.icon_cloud:before {
  content: "";
}

.icon_mail_closed:before {
  content: "";
}

.icon_remove:before {
  content: "";
}

.icon_external-link:before, .external_link:before {
  content: "";
}

.icon_twitter:before {
  content: "";
}

.icon_refresh:before {
  content: "";
}

.icon_profile:before {
  content: "";
}

.icon_user:before {
  content: "";
}

.icon_facebook:before {
  content: "";
}

.icon_cancel:before {
  content: "";
}

.icon_checkmark:before {
  content: "";
}

.icon_cross:before {
  content: "";
}

.icon_lock-open:before {
  content: "";
}

.icon_lock:before {
  content: "";
}

.icon_vk-alternitive:before {
  content: "";
}

.icon_log-out:before {
  content: "";
}

.icon_chevron-down:before, .account_estate:before, .select_box_v1 .select_val:before, .select_box_v2 .select_val:before {
  content: "";
}

.icon_chevron-up:before, .opened.select_box_v1 .select_val:before, .opened.select_box_v2 .select_val:before {
  content: "";
}

.icon_chevron-right:before, .t_pagination_link.t_pag_next:before {
  content: "";
}

.icon_chevron-left:before, .t_pagination_link.t_pag_prev:before {
  content: "";
}

.icon_before:after, .external_link:after, .menu_drop_icon:after, .answer_close:after, .account_estate:after, .export_icon:after, .log_out_icon:after, .adv_trading_icon:after, .select_box_v1 .select_val:after, .select_box_v2 .select_val:after, .check_emul.check_v1 .check_text:after, .gl_link.action_link:after, .t_control_btn:after, .t_pagination_link:after, .icon_before:before, .external_link:before, .menu_drop_icon:before, .answer_close:before, .account_estate:before, .export_icon:before, .log_out_icon:before, .adv_trading_icon:before, .select_box_v1 .select_val:before, .select_box_v2 .select_val:before, .check_emul.check_v1 .check_text:before, .gl_link.action_link:before, .t_control_btn:before, .t_pagination_link:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'exmo_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font: 14px/1.2 'Roboto', sans-serif;
  color: #1a1a1a;
  background: #e9eaed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

a {
  -webkit-transition: color 0.3s, background 0.3s, border 0.3s;
  -ms-transition: color 0.3s, background 0.3s, border 0.3s;
  transition: color 0.3s, background 0.3s, border 0.3s;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.wrapper {
  position: relative;
  min-height: 100%;
  min-width: 1000px;
  padding: 83px 0 0;
}

.base {
  padding-bottom: 330px;
}

.section_inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.mb {
  display: inline-block;
  vertical-align: middle;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.main_content {
  padding-top: 35px;
}

.account_value_tabs {
  padding: 30px 0;
}

.chart_controls .tab_switcher {
  margin-top: -10px;
}

.tab_item {
  -webkit-transition: color 0.3s, border-color 0.3s;
  -ms-transition: color 0.3s, border-color 0.3s;
  transition: color 0.3s, border-color 0.3s;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding: 5px 18px;
  border-bottom: 2px solid transparent;
  color: #1a1a1a;
  font-size: 18px;
  font-weight: 300;
}
.tab_item:hover {
  color: #818181;
}
.tab_item.active {
  cursor: default;
  font-weight: 400;
  color: #1a1a1a;
  border-bottom-color: #2b8af1;
}
.account_value_tabs .tab_item {
  padding: 5px 24px;
  margin: 0 12px;
}

.account_value_switcher {
  padding: 32px 0 48px;
}

.table_holder {
  border-top: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 100px;
}
.table_holder.table_holder_v1 {
  padding-top: 30px;
}

.external_link {
  text-decoration: none;
  font-size: 16px;
  color: #2b8af1;
  margin-left: 9px;
  display: inline-block;
  vertical-align: middle;
}

.pairs_holder {
  min-height: 60px;
  padding-bottom: 3px;
}

.main_charts {
  padding-top: 14px;
}

.chart_holder {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.chart_holder.chart_v1 {
  height: 290px;
}

.chart_w {
  position: relative;
  padding-top: 33px;
}

.col {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
.col.col_s_600 {
  width: 600px;
}
.col.col_s_400 {
  width: 400px;
}
.col + .col {
  padding-left: 30px;
}

.chart_controls {
  line-height: 23px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.chart_controls .chart_caption {
  float: left;
}
.chart_controls .filter_options {
  float: right;
}
.chart_controls .filter_options li {
  padding-right: 10px;
}

.chart_caption {
  font-size: 13px;
  padding-left: 11px;
  letter-spacing: .2px;
}

.pairs_list {
  margin-left: -4px;
}
.pairs_list > li {
  float: left;
  padding-left: 4px;
  margin-bottom: 11px;
  width: 7.14286%;
}

.pair_item {
  -webkit-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: relative;
  line-height: 15px;
  text-align: center;
  cursor: default;
}
.readonly_mode .pair_item {
  cursor: pointer;
}
.pair_item .gl_link.action_link {
  position: absolute;
  top: -8px;
  right: -3px;
  color: #ed325b;
  z-index: 1;
}
.readonly_mode .pair_item .gl_link.action_link {
  display: none;
}
.pair_item.pair_item_editable .pair_val,
.pair_item.pair_item_editable .pair_name {
  opacity: .5;
}
.pair_item.pair_item_editable .gl_link.action_link {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #2b8af1;
}
.readonly_mode .pair_item.pair_item_editable {
  display: none;
}

.pair_spiner {
  height: 42px;
  cursor: pointer;
  position: relative;
}
.pair_spiner span {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 50%;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 100%;
  background: #c9ced6;
}
.pair_spiner span:before, .pair_spiner span:after {
  content: '';
  position: absolute;
  top: 0;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #c9ced6;
}
.pair_spiner span:before {
  right: 100%;
  margin-right: 2px;
}
.pair_spiner span:after {
  left: 100%;
  margin-left: 2px;
}

.pair_name {
  height: 21px;
  background: #c9ced6;
  font-size: 12px;
  padding: 3px;
  border-radius: 3px 3px 0 0;
}
.pair_item:not(.pair_item_editable):hover .pair_name {
  color: #818181;
  background: #c9ced6;
}
.pair_item:not(.pair_item_editable).active .pair_name, .pair_item:not(.pair_item_editable):active .pair_name {
  color: #fff;
  background: #395784;
}

.pair_val {
  background: #fff;
  font-size: 11px;
  height: 21px;
  padding: 3px;
  border-radius: 0 0 3px 3px;
}
.pair_item:not(.pair_item_editable):hover .pair_val {
  color: #818181;
}
.pair_item.active .pair_val,
.pair_val .pair_item.pair_item_editable {
  color: #1a1a1a;
}

.order_forms {
  background: #fff;
  border-radius: 3px;
  height: 365px;
  position: relative;
}
.order_forms:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  border-left: 1px solid #e9eaed;
}

.form_col {
  float: left;
  width: 50%;
  padding: 15px 0 50px 16px;
  height: 100%;
  position: relative;
}

.chat_block {
  position: relative;
  height: 100%;
  padding-bottom: 50px;
}

.instant_group {
  -webkit-transition: background 0.3s, border-color 0.3s;
  -ms-transition: background 0.3s, border-color 0.3s;
  transition: background 0.3s, border-color 0.3s;
  padding: 1px 1px 1px 14px;
  margin: -1px 0 27px -16px;
  border-left: 2px solid transparent;
}
.instant_group.active, .instant_group:hover {
  border-left-color: #2b8af1;
  background: #e9eaed;
}

.glass_holder {
  margin-left: -20px;
}

.glass_unit {
  float: left;
  width: 50%;
  padding-left: 20px;
}

.exchange_tip {
  padding: 12px 5px;
  min-height: 67px;
}
.exchange_tip p {
  margin-bottom: 5px;
}

.receive_tip {
  padding: 23px 0 5px;
  min-height: 67px;
  margin-left: -3px;
}
.receive_tip p {
  margin-bottom: 5px;
}

.best_exchange_w {
  min-height: 82px;
  padding-bottom: 10px;
}

.best_exchange {
  border-radius: 3px;
  text-align: center;
  background: #fafafa;
  padding: 5px 25px 5px 5px;
  line-height: 18px;
  letter-spacing: .5px;
}

.gl_caption.page_caption {
  margin: 38px 0 65px;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_upper {
  text-transform: uppercase;
}

.fw_300 {
  font-weight: 300;
}

.fw_400 {
  font-weight: 400;
}

.fw_500 {
  font-weight: 500;
}

.fz_12 {
  font-size: 12px;
}

.fz_13 {
  font-size: 13px;
}

.fz_14 {
  font-size: 14px;
}

.fz_15 {
  font-size: 15px;
}

.fz_16 {
  font-size: 16px;
}

.fz_18 {
  font-size: 18px;
}

.fz_24 {
  font-size: 24px;
}

.clr_blue {
  color: #2b8af1;
}

.clr_black {
  color: #353940;
}

.clr_black_2 {
  color: #1a1a1a;
}

.clr_red {
  color: #ed325b;
}

.clr_gray {
  color: #818181;
}

.clr_gray_2 {
  color: #3f444b;
}

.chat_list {
  max-height: 100%;
  overflow-y: auto;
  font-size: 13px;
  padding: 6px 0 0;
}
.chat_list li {
  border-bottom: 1px solid #ecedef;
}

.chat_msg {
  padding: 6px 11px;
  color: #1a1a1a;
  letter-spacing: -.1px;
}

.chat_form {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1px 9px 15px;
}

.chat_input {
  position: relative;
  padding-left: 23px;
}

.chat_button {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 20px;
}
.chat_button:before {
  font-size: 15px;
  color: #aea0aa;
}

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 81px;
  background: #395784;
}
.header .section_inner {
  position: relative;
  padding: 0 205px 0 160px;
}

.logo_block {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  position: relative;
  float: left;
}
.logo img {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
}

.user_menu {
  position: absolute;
  top: 0;
  right: 0;
}

.user_m_item {
  float: left;
  padding-left: 30px;
}
.user_m_item:first-child {
  padding-left: 0;
}

.user_m_link {
  -webkit-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 1;
  color: #fefdf4;
}
.user_m_link:hover {
  color: #c9ced6;
}

a.user_m_link {
  cursor: pointer;
  text-decoration: none;
}

.menu_drop_icon {
  font-size: 10px;
  line-height: 17px;
  padding-left: 5px;
}
.menu_drop_icon:before {
  content: "";
}

.question_icon {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  margin-left: 6px;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  border: 1px solid rgba(254, 253, 244, 0.5);
}
.question_icon.question_icon_blue {
  color: #3f95f2;
  border-color: #3f95f2;
}
.question_icon.question_icon_blue:hover {
  color: #2b8af1;
  border-color: #2b8af1;
}
.question_icon.question_icon_blue.opened, .question_icon.question_icon_blue:active {
  color: #405d88;
  border-color: #405d88;
}

.question_answer {
  z-index: 2;
  cursor: default;
  display: none;
  position: absolute;
  top: 100%;
  margin-top: 18px;
  width: 180px;
  margin-left: -83px;
  border-radius: 4px;
  background: #c9ced6;
  font-size: 12px;
  padding: 19px 12px;
  text-align: left;
  min-height: 80px;
  color: #1a1a1a;
}
.question_answer:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #c9ced6;
}
.question_answer span {
  display: block;
}
.opened .question_answer {
  display: block;
}

.answer_close {
  top: 7px;
  right: 8px;
  font-size: 11px;
  position: absolute;
  cursor: pointer;
}
.answer_close:before {
  content: "";
  color: #818181;
}

.user_avatar {
  border-radius: 100%;
  border: 1px solid rgba(254, 253, 244, 0.5);
  width: 27px;
  height: 27px;
  position: relative;
}
.user_avatar > span {
  position: absolute;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: rgba(254, 253, 244, 0.5);
}

.main_menu {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.menu_item {
  display: table-cell;
  vertical-align: middle;
  padding: 0 3px;
  text-align: center;
}

.menu_link {
  position: relative;
  display: inline-block;
  color: #fefdf4;
  text-decoration: none;
}
.menu_link .link_text {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  line-height: 18px;
}

a.menu_link {
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
}
a.menu_link:hover {
  color: #c9ced6;
}
.active a.menu_link {
  color: #fefdf4;
  font-weight: 500;
  cursor: default;
}

.account_estate {
  -webkit-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
  font-size: 13px;
  padding-right: 25px;
  position: relative;
}
.account_estate:before {
  position: absolute;
  top: 50%;
  right: 5px;
  height: 20px;
  line-height: 20px;
  margin-top: -12px;
  font-size: 10px;
}
.account_estate:hover {
  color: #c9ced6;
}

.drop_down_holder {
  position: relative;
}
.drop_down_holder:hover .menu_drop_icon:before {
  content: "";
}
.drop_down_holder:hover .drop_down_wrapper {
  display: block;
}

.drop_down_wrapper {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 18px;
  z-index: 3;
}
.drop_down_wrapper:before {
  content: '';
  position: absolute;
  top: 7px;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #c9ced6;
}
.drop_down_wrapper.drop_down_right {
  right: 0;
}
.drop_down_wrapper.drop_down_right:before {
  right: 17px;
}
.drop_down_wrapper.drop_down_center {
  right: -150px;
  left: -160px;
  text-align: center;
}
.drop_down_wrapper.drop_down_center:before {
  right: 50%;
  margin-right: -11px;
}
.drop_down_wrapper.drop_down_center .personal_menu {
  display: inline-block;
  vertical-align: top;
}
.drop_down_wrapper.drop_down_white {
  padding-top: 11px;
}
.drop_down_wrapper.drop_down_white:before {
  top: 1px;
  border-bottom-color: #fff;
}

.personal_menu {
  background: #c9ced6;
  border-radius: 5px;
  padding: 2px 0;
  overflow: hidden;
}

.personal_m_item {
  display: block;
}

.personal_m_link {
  display: block;
  position: relative;
  color: #1a1a1a;
  font-size: 13px;
  line-height: 30px;
  padding: 0 12px;
  text-decoration: none;
  cursor: pointer;
}
.personal_m_link:before {
  -webkit-transition: color 0.3s, background 0.3s;
  -ms-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  content: '';
  position: absolute;
  top: 0;
  background: #e9eaed;
  height: 1px;
  right: 7px;
  left: 7px;
}
.personal_m_link:after {
  -webkit-transition: color 0.3s, background 0.3s;
  -ms-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  left: 0;
  height: 1px;
}
.personal_m_link:hover {
  z-index: 1;
  color: #fff;
  background: #2a89ef;
}
.personal_m_link:hover:after, .personal_m_link:hover:before {
  background: #2a89ef;
}
.personal_m_link:hover .personal_m_icon {
  color: #fff;
}
.personal_m_item:first-child .personal_m_link:before {
  display: none;
}
.wide_menu .personal_m_link {
  min-width: 165px;
  padding-right: 32px;
}

.personal_m_icon {
  -webkit-transition: color 0.3s, background 0.3s;
  -ms-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 6px;
  width: 26px;
  color: #818181;
}
.personal_m_icon:before {
  position: absolute;
  font-size: 24px;
  line-height: 30px;
}

.personal_m_counter {
  position: absolute;
  top: 3px;
  right: 7px;
  border-radius: 7px;
  height: 14px;
  min-width: 14px;
  text-align: center;
  background: #ee3054;
  color: #fff;
  font-size: 9px;
  line-height: 14px;
}

.export_icon:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 2px;
  font-size: 12px;
  line-height: 1;
}

.log_out_icon:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  font-size: 16px;
  line-height: 30px;
}

.icon_refresh_currency {
  position: absolute;
  width: 24px;
  height: 26px;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
}

.adv_trading {
  position: fixed;
  right: 0;
  top: 295px;
  padding: 67px 10px 13px 7px;
  border-radius: 3px 0 0 3px;
  background: #2b8af1;
  color: #fff;
  text-decoration: none;
}

.adv_trading_icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
}
.adv_trading_icon:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  font-size: 30px;
}
.adv_trading_icon:after {
  left: 8px;
  top: 10px;
  position: absolute;
  content: "";
  font-size: 35px;
}

.form_row {
  line-height: 28px;
}
.form_row_v1 .form_row {
  margin: 18px 0;
}
.form_row_v1 .form_row.last_row {
  margin: -12px 0 0;
}

.form_cell.middle_mod {
  display: inline-block;
  vertical-align: top;
}
.form_cell.middle_mod .form_el {
  display: inline-block;
  margin-left: 12px;
}
.form_cell.middle_mod .form_el:first-child {
  margin-left: 0;
}
.form_cell.form_cell_group .form_el {
  float: left;
}

.form_el.f_el_w55 {
  width: 55px;
}
.form_el.f_el_w100 {
  width: 100px;
}
.form_el.f_el_w125 {
  width: 125px;
}
.form_el.f_el_w153 {
  width: 153px;
}
.form_el.f_el_w200 {
  width: 200px;
}
.form_el.f_el_w230 {
  width: 230px;
}
.form_el.f_el_w270 {
  width: 270px;
}

.select_box {
  position: relative;
  text-align: left;
}

.select_drop_down {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
}
.opened .select_drop_down {
  display: block;
  z-index: 2;
}
.select_box_v1 .select_drop_down {
  min-width: 100%;
  background: #c9ced6;
  border-radius: 0 0 3px 3px;
}
.select_box_v2 .select_drop_down {
  min-width: 100%;
  background: #c9ced6;
  border-radius: 0 0 3px 3px;
}

.select_val {
  cursor: pointer;
  position: relative;
}
.select_box_v1 .select_val {
  border-radius: 3px;
  padding: 0 22px;
  height: 30px;
  background: #c9ced6;
  color: #000;
  font-weight: 300;
}
.select_box_v1 .select_val:before {
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: #838383;
}
.select_box_v1 .select_val:hover:before {
  color: #1b1b1b;
}
.opened.select_box_v1 .select_val {
  border-radius: 3px 3px 0 0;
  color: #818181;
}
.opened.select_box_v1 .select_val:before {
  color: #818181;
}
.disabled.select_box_v1 .select_val {
  background: #d9dce1;
  color: #adaeb1;
  cursor: not-allowed;
  pointer-events: none;
}
.disabled.select_box_v1 .select_val:before {
  color: #adaeb1;
}
.select_box_v2 .select_val {
  border-radius: 0 3px 3px 0;
  padding: 0 22px;
  height: 28px;
  background: #c9ced6;
  color: #000;
  font-weight: 300;
  text-align: center;
}
.select_box_v2 .select_val:before {
  position: absolute;
  right: 14px;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  color: #838383;
}
.select_box_v2 .select_val .currency_sum {
  display: none;
}
.select_box_v2 .select_val:hover:before {
  color: #1b1b1b;
}
.opened.select_box_v2 .select_val {
  border-radius: 0 3px 0 0;
  color: #818181;
  text-align: left;
}
.opened.select_box_v2 .select_val:before {
  color: #818181;
}
.disabled.select_box_v2 .select_val {
  background: #d9dce1;
  color: #adaeb1;
  cursor: not-allowed;
  pointer-events: none;
}
.disabled.select_box_v2 .select_val:before {
  color: #adaeb1;
}

.select_item {
  cursor: pointer;
}
.select_box_v1 .select_item {
  padding: 0 22px;
  height: 30px;
}
.select_box_v1 .select_item:hover {
  background: #2a89ef;
  color: #fff;
}
.select_box_v2 .select_item {
  padding: 0 22px;
  height: 30px;
}
.select_box_v2 .select_item .currency_sum {
  float: left;
  width: 39.5%;
  text-align: right;
  padding-right: 2px;
}
.select_box_v2 .select_item .currency_label {
  float: left;
}
.select_box_v2 .select_item:hover {
  background: #2a89ef;
  color: #fff;
}

.currency_label {
  padding-left: 8px;
}

.f_input {
  width: 100%;
  display: block;
}
.f_input.input_v1 {
  -webkit-transition: border-color 0.3s, background 0.3s;
  -ms-transition: border-color 0.3s, background 0.3s;
  transition: border-color 0.3s, background 0.3s;
  height: 28px;
  background: #fafafa;
  border: 1px solid #d0d5db;
  border-radius: 3px;
  line-height: 16px;
  padding: 5px 12px;
}
.f_input.input_v1:focus {
  border-color: #2b8af1;
  background: #fff;
}
.f_input.input_v2 {
  -webkit-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  transition: border-color 0.3s;
  height: 28px;
  border: solid #ccc;
  border-width: 1px 0 1px 1px;
  border-radius: 3px 0 0 3px;
  line-height: 16px;
  padding: 5px 12px;
  background: #fff;
}

.form_caption {
  color: #3f444b;
  font-size: 17px;
  padding-bottom: 6px;
}

.form_currency {
  padding-left: 14px;
  white-space: nowrap;
}

.form_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 12px 15px;
}

.hidden_inp {
  display: none;
  position: absolute;
}

.check_emul {
  display: inline-block;
  vertical-align: middle;
}
.check_emul.check_v1 .check_text {
  position: relative;
  display: block;
  padding-left: 26px;
}
.check_emul.check_v1 .check_text:before {
  content: '';
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  top: 50%;
  margin-top: -8px;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-align: center;
  border: 1px solid #2b8af1;
  border-radius: 2px;
}
.check_emul.check_v1 .hidden_inp:checked ~ .check_text:before {
  content: "";
  background: #2b8af1;
}

.gl_link {
  cursor: pointer;
  text-decoration: none;
}
.gl_link:hover {
  text-decoration: underline;
}
.gl_link.action_link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
}
.gl_link.action_link:before {
  content: "";
  font-size: 10px;
}

.btn_v1 {
  height: 36px;
}
.btn_v1.city_btn {
  cursor: pointer;
  border-radius: 4px;
  padding: 11px 20px;
}
.btn_v1.order_btn {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 20px;
  line-height: 20px;
  text-align: center;
}
.btn_v1.exchange_btn {
  display: block;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  padding: 8px 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -.5px;
}

.green_btn {
  color: #fff;
}

.blue_btn {
  -webkit-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  color: #fff;
  background: #2b8af1;
}
.blue_btn:hover {
  background: #569eeb;
}
.blue_btn:active {
  background: #395784;
}
.blue_btn[disabled='disabled'] {
  background: #c9ced6;
  cursor: default;
}

.gl_table_w {
  overflow: hidden;
}
.gl_table_w.buy_sell_options_table_w {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  overflow: visible;
  margin-bottom: 68px;
}
.gl_table_w.user_balance_table_w {
  margin-top: -2px;
  min-width: 230px;
}
.gl_table_w.sell_orders_table_w {
  border-radius: 2px;
}
.gl_table_w.history_table_w {
  border-radius: 2px;
}
.gl_table_w.orders_deals_table_w {
  border-radius: 2px;
}
.gl_table_w.trade_history_table_w {
  border-radius: 2px;
}
.gl_table_w.buy_sell_history_table_w {
  border-radius: 2px;
}
.gl_table_w.table_w_v1 {
  padding-bottom: 52px;
}

.gl_table {
  width: 100%;
  border-collapse: collapse;
}
.gl_table.table_v1 {
  font-size: 12px;
}
.gl_table.table_v1 th {
  text-align: left;
  color: #1a1a1a;
  font-weight: 500;
  background: #c9ced6;
  padding: 8px;
}
.gl_table.table_v1 td {
  font-weight: 300;
  color: #1a1a1a;
  line-height: 17px;
  padding: 4px 8px 3px;
  background: #fff;
  border-bottom: 1px solid #e9eaed;
}
.gl_table.table_v2 {
  font-size: 13px;
}
.gl_table.table_v2 td {
  font-weight: 300;
  color: #1a1a1a;
}
.gl_table.buy_sell_options_table td {
  padding-bottom: 10px;
  vertical-align: top;
}
.gl_table.buy_sell_options_table .col_1 {
  padding-right: 42px;
  text-align: right;
}
.gl_table.buy_sell_options_table .col_2 {
  padding-right: 3px;
}
.gl_table.orders_deals_table td {
  padding-top: 5px;
}
.gl_table.orders_deals_table .col_1 {
  width: 110px;
  padding-left: 27px;
}
.gl_table.orders_deals_table .col_2 {
  width: 95px;
}
.gl_table.orders_deals_table .col_3 {
  width: 65px;
}
.gl_table.orders_deals_table .col_4 {
  width: 143px;
}
.gl_table.orders_deals_table .col_5 {
  width: 153px;
}
.gl_table.orders_deals_table .col_6 {
  width: 122px;
}
.gl_table.orders_deals_table .col_7 {
  width: 94px;
}
.gl_table.orders_deals_table .col_8 {
  width: 55px;
  text-align: center;
}
.gl_table.buy_sell_history_table td {
  padding-top: 5px;
}
.gl_table.buy_sell_history_table .col_1 {
  width: 120px;
  padding-left: 27px;
}
.gl_table.buy_sell_history_table .col_2 {
  width: 140px;
}
.gl_table.buy_sell_history_table .col_3 {
  width: 175px;
}
.gl_table.buy_sell_history_table .col_4 {
  width: 160px;
}
.gl_table.buy_sell_history_table .col_5 {
  width: 170px;
}
.gl_table.buy_sell_history_table .col_6 {
  width: 150px;
}
.gl_table.sell_orders_table td {
  padding-top: 5px;
}
.gl_table.trade_history_table th {
  font-weight: 500;
}
.gl_table.trade_history_table td {
  padding-top: 5px;
}
.gl_table.user_balance_table {
  font-size: 12px;
  text-align: left;
}
.gl_table.user_balance_table th {
  background: #fff;
  color: #818181;
  font-weight: 400;
  padding: 5px 2px 3px;
}
.gl_table.user_balance_table td {
  padding: 1px 2px 0;
  color: #1a1a1a;
  border-bottom: 1px solid #e9eaed;
}
.gl_table.user_balance_table td.col_2, .gl_table.user_balance_table td.col_3 {
  text-align: right;
}
.gl_table.user_balance_table tr:first-child td {
  padding-top: 4px;
}
.gl_table.user_balance_table tr:last-child td {
  border-bottom: none;
}
.gl_table.user_balance_table .col_1 {
  padding-left: 10px;
}
.gl_table.user_balance_table .col_3 {
  padding-right: 10px;
}
.gl_table.wallet_table th.col_4 {
  text-align: center;
  padding-right: 125px;
}
.gl_table.wallet_table td.col_1 {
  font-weight: 500;
}
.gl_table.wallet_table td.col_3 {
  color: #3f444b;
}
.gl_table.wallet_table td.col_4 {
  text-align: right;
  padding-right: 57px;
}
.gl_table.wallet_table td.col_5 {
  padding-left: 27px;
}
.gl_table.wallet_table tr:last-child td {
  padding-bottom: 9px;
}
.gl_table.wallet_table .col_1 {
  padding-left: 27px;
  width: 180px;
}
.gl_table.wallet_table .col_2 {
  width: 157px;
}
.gl_table.wallet_table .col_3 {
  text-align: center;
  width: 150px;
}
.gl_table.wallet_table .col_4 {
  width: 130px;
}
.gl_table.wallet_table .col_5 {
  padding-right: 27px;
  width: 195px;
}
.gl_table.history_table {
  font-size: 12px;
}
.gl_table.history_table td.col_3 span {
  padding-left: 18px;
}
.gl_table.history_table tr:last-child td {
  padding-bottom: 9px;
}
.gl_table.history_table .col_1 {
  padding-left: 27px;
  width: 113px;
}
.gl_table.history_table .col_2 {
  width: 113px;
}
.gl_table.history_table .col_3 {
  width: 105px;
}
.gl_table.history_table .col_4 {
  width: 210px;
}
.gl_table.history_table .col_5 {
  padding-right: 27px;
  width: 317px;
}

.t_control_btn {
  position: relative;
  color: #2b8af1;
  font-size: 13px;
  text-decoration: none;
  padding-right: 20px;
}
.t_control_btn.icon_chevron-down:before, .t_control_btn.account_estate:before, .select_box_v1 .t_control_btn.select_val:before, .select_box_v2 .t_control_btn.select_val:before {
  position: absolute;
  right: 2px;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  font-size: 10px;
  line-height: 16px;
  color: inherit;
}
.t_control_btn:hover {
  color: #8fbef2;
}
.active .t_control_btn {
  color: #395784;
}

.t_t {
  min-width: 100%;
  display: block;
  width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table_caption_block {
  line-height: 30px;
  padding: 17px 0 12px;
}
.table_caption_block.table_caption_b_v2 {
  padding: 0 0 10px;
}
.table_caption_block .table_caption {
  float: left;
}
.table_caption_block .filter_options {
  float: right;
  padding-top: 5px;
}

.table_caption {
  font-size: 18px;
  line-height: 30px;
  color: #1a1a1a;
  padding-left: 20px;
  font-weight: 400;
}
.chart_controls .table_caption {
  margin-top: -8px;
}

.filter_options li {
  float: left;
  padding-right: 8px;
}

.t_control_link {
  display: block;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 13px;
  line-height: 1;
  font-weight: 300;
  border-bottom: 2px solid transparent;
  padding: 4px 7px;
}
.t_control_link:hover {
  color: #818181;
}
.active .t_control_link {
  font-weight: 400;
  color: #1a1a1a;
  cursor: default;
  border-bottom-color: #4497f1;
}

.t_pagination_link {
  position: relative;
  float: left;
  margin-left: 22px;
  text-decoration: none;
  color: #3f444b;
  font-weight: 500;
  cursor: pointer;
}
.t_pagination_link:before {
  position: absolute;
  height: 20px;
  margin-top: -10px;
  line-height: 20px;
  top: 50%;
  font-size: 20px;
  color: #2b8af1;
}
.t_pagination_link:hover {
  color: #515962;
}
.t_pagination_link.t_pag_prev {
  padding-left: 21px;
}
.t_pagination_link.t_pag_prev:before {
  left: -2px;
}
.t_pagination_link.t_pag_prev:hover {
  color: #3f444b;
}
.t_pagination_link.t_pag_prev:hover:before {
  color: #4896ea;
}
.t_pagination_link.t_pag_prev:active {
  color: #3f444b;
}
.t_pagination_link.t_pag_prev:active:before {
  color: #395784;
}
.t_pagination_link.t_pag_next {
  padding-right: 21px;
}
.t_pagination_link.t_pag_next:before {
  right: -4px;
}
.t_pagination_link.t_pag_next:hover {
  color: #3f444b;
}
.t_pagination_link.t_pag_next:hover:before {
  color: #4896ea;
}
.t_pagination_link.t_pag_next:active {
  color: #3f444b;
}
.t_pagination_link.t_pag_next:active:before {
  color: #395784;
}
.t_pagination_link.disabled {
  color: #818181;
}
.t_pagination_link.disabled:before {
  color: #c9ced6;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 330px;
}
.footer .section_inner {
  border-top: 1px solid #ccc;
}

.footer_container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 27px;
}

.footer_menu {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.footer_m_col {
  display: table-cell;
  padding-bottom: 10px;
}

.footer_m_caption {
  margin-bottom: 18px;
}

.footer_m_item {
  margin-bottom: 9px;
}

.footer_m_link {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer_soc {
  float: left;
}
.footer_soc li {
  padding-right: 30px;
  display: inline-block;
  vertical-align: middle;
}

.footer_s_link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #818181;
  font-size: 26px;
  width: 26px;
  height: 26px;
}

.bfm_block {
  float: right;
  position: relative;
  font-size: 12px;
  color: #818181;
  padding-left: 54px;
  margin-right: -5px;
  letter-spacing: .3px;
}
.bfm_block .icon_bfm {
  position: absolute;
  left: 16px;
  top: -5px;
  font-size: 37px;
  line-height: 1;
  z-index: 2;
  color: #f0f0f1;
}
.bfm_block:after {
  z-index: 1;
  content: '';
  position: absolute;
  width: 48px;
  height: 24px;
  top: 2px;
  left: 0;
  border-radius: 2px;
  background: #818181;
}

.copyright {
  padding-top: 15px;
  line-height: 1.5;
}

.rect_1024 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  bottom: 0;
  border: 1px solid red;
  z-index: 10;
  pointer-events: none;
}

.rect_1024:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 500px;
  width: 1px;
  background: red;
}

/*# sourceMappingURL=main_global.css.map */
