@font-face {
    font-family: 'exmo_icons';
    src:    url('fonts/exmo_icons.eot?mza9yl');
    src:    url('fonts/exmo_icons.eot?mza9yl#iefix') format('embedded-opentype'),
        url('fonts/exmo_icons.ttf?mza9yl') format('truetype'),
        url('fonts/exmo_icons.woff?mza9yl') format('woff'),
        url('fonts/exmo_icons.svg?mza9yl#exmo_icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'exmo_icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon_trade_candels:before {
    content: "\e91a";
}
.icon_bfm:before {
    content: "\42";
}
.icon_arrow-right:before {
    content: "\e908";
}
.icon_arrow-left:before {
    content: "\e912";
}
.icon_arrow-right-long:before {
    content: "\e913";
}
.icon_arrow-left-long:before {
    content: "\e914";
}
.icon_close:before {
    content: "\e5cd";
}
.icon_trending_up:before {
    content: "\e911";
}
.icon_verified:before {
    content: "\e90d";
}
.icon_coins:before {
    content: "\e90e";
}
.icon_alarm:before {
    content: "\e90b";
}
.icon_gear:before {
    content: "\e90c";
}
.icon_cloud:before {
    content: "\e90f";
}
.icon_mail_closed:before {
    content: "\e909";
}
.icon_remove:before {
    content: "\f00d";
}
.icon_external-link:before {
    content: "\f08e";
}
.icon_twitter:before {
    content: "\f099";
}
.icon_refresh:before {
    content: "\e910";
}
.icon_profile:before {
    content: "\e904";
}
.icon_user:before {
    content: "\e905";
}
.icon_facebook:before {
    content: "\e903";
}
.icon_cancel:before {
    content: "\e918";
}
.icon_checkmark:before {
    content: "\e902";
}
.icon_cross:before {
    content: "\e919";
}
.icon_lock-open:before {
    content: "\e916";
}
.icon_lock:before {
    content: "\e917";
}
.icon_vk-alternitive:before {
    content: "\e915";
}
.icon_log-out:before {
    content: "\e90a";
}
.icon_chevron-down:before {
    content: "\e906";
}
.icon_chevron-up:before {
    content: "\e907";
}
.icon_chevron-right:before {
    content: "\e900";
}
.icon_chevron-left:before {
    content: "\e901";
}

